main {
    display: block;
    max-width: 500px;
    margin: 3rem auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    border: 1px solid red;
    padding: 4rem 2rem;
    background-color: ivory;
  }
  #date{
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    size: 5px;
  }
  body{
    background-image: url("B.jpg");
    opacity: 0.8;
    counter-reset: a;
  }
  div{
    font-size: 70px;
    font-family:Arial;
    text-align: center;
    
  }    
  ul {
    list-style-type: none;
    padding: 0;
  }
  
 li::before {
    counter-increment: a;            
    content: counters(a, ".") " "; 
    position: relative;
  }
  input {
    font-size: 1.2rem;
    padding: 3px 20px;
  }
  
  input[type="button"] {
    background: #03A9F4;
    color: black;
  }
  
  button.delete {
    font-weight: bold;
    font-size: 1.2rem;
    background: powderblue;
    color:black;
    border: none;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    position:-ms-page;
    color: red;
    top: -3px;
    height: 25px;
    width: 25px;
  }
  
  input[type=checkbox]:checked ~ span {
    color: red;
  } 
  #footer{
    text-align: center;
  }
  span {
    padding: 4px 20px;
  }
