h1,
p {
  text-align: center;
}
body {
  background-image: url("B.jpg");
  font-family: Roboto, sans-serif;
  height: 100vh;
}
#welcome{ 
    align-content: center;
    font-size:25px;
}
#date{
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    size: 30px;

  }
.container {
    counter-reset: a;
  max-width: 570px;
  top: 125px;
  margin: 0 auto;
  padding: 12px 25px 50px;
  border-top: 5px solid rgba(255, 255, 255, 0.16);
  background-color: ivory;
  opacity: 0.8;
  user-select: none;
  z-index: 100;
  position: relative;
  box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.1);
}
.body-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.79;
  z-index: 10;
}
ul {
  padding: 0;
}
li::before {
    counter-increment: a;            
    content: counters(a, ".") " "; 
    position: relative;
  }
.header {
  padding-bottom: 17px;
}
p {
  font-size: 15px;
  color: black;
  top: -42px;
  margin-top: -13px;
  font-family: cursive;
}
.list-group-item {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px dashed rgba(169, 167, 167, 0.34) ;
  border: none;
  color: black;
  font-size: 19px;
  font-weight: 300;
}
.btnTask {
  background: #0dabf3;
  margin-left: 5px;
}
.list-group,
.list-group-item {
  background: 0 0;
}
.btnClear,
.btnClear:hover {
  color: #ffc107;
  float: right;
}
h1 {
  margin: 0;
  padding: 20px;
  color: black;
  
}
#footer{
    text-align: center;
    color: black;
    font-size: large;
  }
